<!--Header-->
<header class="header">
    <div class="header-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand" href="#">
                        <img src="img/logo.png" alt="Bootstrap" width="256" height="auto">
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="menu-item d-flex justify-content-end">
                        <div class="d-flex align-items-center">
                            <ul class="menu-icons d-flex justify-content-center">
                                <li><a href="/"><img class="menu-icons-item" src="img/home.png"></a></li>
                                <li><a href="goods"><img class="menu-icons-item" src="img/goods.png"></a></li>
                                <AuthorizeView>
                                    <Authorized>
                                        <li><a href="cart"><img class="menu-icons-item" src="img/cart.png"></a></li>
                                        <li><a href="weather"><img class="menu-icons-item" src="">Погода</a></li>
                                    </Authorized>
                                </AuthorizeView>
                                <li>
                                    <div class="btn-group" role="group">
                                        <button class="drop-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img class="menu-icons-item" src="img/profile.png">
                                        </button>
                                        <ul class="drop-menu dropdown-menu">
                                            <AuthorizeView>
                                                <Authorized>
                                                    <li><a class="dropdown-item drop-item" href="profile">Посмотреть профиль</a></li>
                                                    <li><a class="dropdown-item drop-item" href="#">Выйти</a></li>
                                                </Authorized>
                                                <NotAuthorized>
                                                    <li><a class="dropdown-item drop-item" href="login">Войти</a></li>
                                                    <li><a class="dropdown-item drop-item" href="registration">Зарегистрироваться</a></li>
                                                </NotAuthorized>
                                            </AuthorizeView>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- #endregion -->