<!--Header-->
<header class="header">
    <div class="header-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand" href="/">
                        <img src="img/logo.png" alt="Bootstrap" width="256" height="100%">
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="menu-item d-flex justify-content-end">
                        <div class="d-flex align-items-center">
                            <ul class="menu-icons d-flex justify-content-center">
                                <li><a href="/"><img class="menu-icons-item" alt="home" src="img/home.png"></a></li>
                                <li><a href="/products"><img class="menu-icons-item" alt="products" src="img/products.png"></a></li>
                                <AuthorizeView>
                                    <Authorized>
                                        <li><a href="/cart"><img class="menu-icons-item" alt="cart" src="img/cart.png"></a></li>
                                    </Authorized>
                                </AuthorizeView>
                                @* <AuthorizeView Roles="Admin">
                                    <li><a href="weather"><img class="menu-icons-item" src="">Погода</a></li>
                                </AuthorizeView> *@
                                <li>
                                    <div class="dropdown" style="float:right;">
                                        <button class="dropbtn">
                                            <img class="menu-icons-item" alt="profile" src="img/profile.png">
                                        </button>
                                        <div class="dropdown-content">
                                            <AuthorizeView>
                                                <Authorized>
                                                    <a class="dropdown-item drop-item" href="/profile">Посмотреть профиль</a>
                                                    <a class="dropdown-item drop-item" href="/logout">Выйти</a>
                                                </Authorized>
                                                <NotAuthorized>
                                                    <a class="dropdown-item drop-item" href="/login">Войти</a>
                                                    <a class="dropdown-item drop-item" href="/registration">Зарегистрироваться</a>
                                                </NotAuthorized>
                                            </AuthorizeView>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- #endregion -->