<!--Header-->
<header class="header">
    <div class="header-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <a class="navbar-brand" href="#">
                        <img src="img/logo.png" alt="Bootstrap" width="256" height="auto">
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="menu-item d-flex justify-content-end">
                        <div class="d-flex align-items-center">
                            <ul class="menu-icons d-flex justify-content-center">
                                <li><a href="/"><img class="menu-icons-item" src="img/home.png"></a></li>
                                <li><a href="goods"><img class="menu-icons-item" src="img/goods.png"></a></li>
                                <AuthorizeView>
                                    <Authorized>
                                        <li><a href="cart"><img class="menu-icons-item" src="img/cart.png"></a></li>
                                    </Authorized>
                                </AuthorizeView>
                                <li><a href="login"><img class="menu-icons-item" src="img/profile.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- #endregion -->