@page "/cart"
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer

<PageTitle>Корзина</PageTitle>

<main class="main d-flex justify-content-center">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <div class="container">
                    <div class="row cart-title">
                    <h3>Товары в вашей корзине</h3>
                </div>
                    <div class="card card-item">
                    <div class="card-body card-item-body">
                        <div class="row row-cart">
                            <div class="col-md-3 col-img-product">
                                <a class="cart-item-img" href="#">
                                    <img class="product-img" src="/img/products/mozzarella_flow_1_125-600x600.png" alt="mozzarella">
                                </a>
                            </div>
                            <div class="col-md-3 col-description-product">
                                <h1 class="cart-item-title">Mozzarella 125<span style="font-size: 15px;"> г</span></h1>
                                <p class="cart-item-subtitle">Maxi</p>
                            </div>
                            <div class="col-md-3 cost-product">
                                <p>Цена за 1 шт.<br /><span class="cost-product-text">2.70</span><span style="font-weight: 400;"> BYN</span></p>
                            </div>
                            <div class="col-md-3 col-counter">
                                <div class="counter">
                                    <input class="counter-text" type="number" step="1" min="1" name="count" value="1">
                                    <button class="counter-minus" disabled>−</button>
                                    <button class="counter-plus">+</button>
                                </div>
                                
                                <div class="quantity">
                                    <p class="quantity-product">Осталось <span class="quantity-product-text">10</span> шт.</p>
                                </div>
                                <div class="btn-remove">
                                    <button class="btn btn-danger">Убрать из корзины</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-item-body">
                        <div class="row row-cart">
                            <div class="col-md-3 col-img-product">
                                <a class="cart-item-img" href="#">
                                    <img class="product-img" src="/img/products/mozzarella_flow_1_125-600x600.png" alt="mozzarella">
                                </a>
                            </div>
                            <div class="col-md-3 col-description-product">
                                <h1 class="cart-item-title">Mozzarella 125<span style="font-size: 15px;"> г</span></h1>
                                <p class="cart-item-subtitle">Maxi</p>
                            </div>
                            <div class="col-md-3 cost-product">
                                <p>Цена за 1 шт.<br /><span class="cost-product-text">6.70</span><span style="font-weight: 400;"> BYN</span></p>
                            </div>
                            <div class="col-md-3 col-counter">
                                <div class="counter">
                                    <input class="counter-text" type="number" step="1" min="1" name="count" value="1">
                                    <button class="counter-minus" disabled>−</button>
                                    <button class="counter-plus">+</button>
                                </div>
                                
                                <div class="quantity">
                                    <p class="quantity-product">Осталось <span class="quantity-product-text">23</span> шт.</p>
                                </div>
                                <div class="btn-remove">
                                    <button class="btn btn-danger">Убрать из корзины</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="row cart-footer">
                    <div class="col-md-12 d-flex justify-content-end total-cost">
                        <p>Итого: <span class="total-price">2020</span> BYN</p>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <button class="btn btn-pay">Оплатить товары</button>
                    </div>
                </div>
            </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <Login />
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>

</main>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender == true)
        {
            await js.InvokeVoidAsync("counter");
        }
    }
}