@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p class="counter" role="status">Current count: currentCount</p>

<button class="btn btn-primary">Click me</button>

<input type="number" name="name" value="currentCount" />


@code {
    private int currentCount = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Параметр гарантирует, что код в блоке будет вызываться однократно,
        // только при инициализации приложения.
        if (firstRender == true)
        {
            await js.InvokeVoidAsync("counter");
        }
    }
}