@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p class="counter" role="status">Current count: @currentCount</p>

<button @onclick="OnClick" class="btn btn-primary">Click me</button>

<input @onchange="OnChange" type="number" name="name" value="@currentCount" />




@code {
    private int currentCount = 0;

    private void OnClick(MouseEventArgs args)
    {
        currentCount++;
    }
    private void OnChange(ChangeEventArgs args)
    {
        var value = (string)args.Value!;
        if(int.TryParse(value, out var count))
        {
            currentCount = count;
        }
    }
}