@page "/"

<PageTitle>Главная</PageTitle>

<!--Content-->
<main class="main main-image d-flex justify-content-center">
    <a class="btn-main btn btn-light" type="button" href="goods">Наш ассортимент</a>
</main>
<!-- #endregion -->

@* 
<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        <h3>Привет, @context.User.Identity!.Name</h3>
    </Authorized>
    <NotAuthorized>
        <h3>Вы не авторизованы.</h3>
    </NotAuthorized>
</AuthorizeView> *@