@page "/"

<PageTitle>TMK Store</PageTitle>

<!--Content-->
<main class="main main-image d-flex justify-content-center">
    <a class="btn-main btn btn-light" title="Посмотреть товары" type="button" href="products">Наш ассортимент</a>
</main>
<!-- #endregion -->