@page "/login"

<PageTitle>Страница входа</PageTitle>

@rendermode InteractiveServer

<main class="main d-flex justify-content-center">
    <EditForm Model="@LoginDto" OnValidSubmit="LoginClicked">
        <h2 class="text-center">Форма входа</h2>
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="form-label">E-mail адрес</label>
            <InputText @bind-Value="LoginDto.Email" class="form-control"></InputText>
        </div>
        <div class="form-group mt-3">
            <label class="form-label">Пароль</label>
            <InputText type="password" @bind-Value="LoginDto.Password" class="form-control"></InputText>
        </div>
        <div class="text-center form-group mt-3">
            <button class="btn btn-light btn-submit" type="submit">Войти в личный кабинет</button>
        </div>
        <ValidationSummary />
    </EditForm>
</main>


@code{
    public LoginDTO LoginDto = new();
    public string JWTToken = "";


    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        var authState = customAuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.Result.User;
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/", forceLoad: true);
        }
    }
        

    async Task LoginClicked()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        var authState = customAuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.Result.User;
        LoginResponse response = await accountService.LoginAsync(LoginDto);
        if (!response.Flag)
        {
            await js.InvokeVoidAsync("alert", response.Message);
            return;
        }
        JWTToken = response.JWTToken;
        //await js.InvokeVoidAsync("localStorage.setItem", "userEmail", $"{LoginDto.Email}").ConfigureAwait(false);

        customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        customAuthStateProvider.UpdateAuthenticationState(JWTToken);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}