@page "/oder/{Id}"

<h3>Заказ № @Order.Id</h3>

@code {
    [Parameter]
    public string? Id { get; set; }

    public Order Order { get; set; } = new();

    protected async override Task OnInitializedAsync()
    {
        var orderId = int.TryParse(Id, out int id);
        if (orderId)
        {
            var checkOrder = await orderInterface.GetOrderByIdAsync(id);
            if (checkOrder != null)
            {
                Order = checkOrder;
            }
            else
            {
                NavManager.NavigateTo("/profile", true);
            }
        }
    }
}