@page "/products"

@rendermode InteractiveServer

<PageTitle>Товары</PageTitle>

<main class="main d-flex justify-content-center">
    <div class="container">
        @if(ProductsList.Count > 0)
        {
            <div class="row row-btn">
                <div class="col-sm">
                    <div class="d-flex btn-group " role="group">
                        <div class="d-flex group-btn">
                            <a href="#" class="btn item-btn">Mozzarella</a>
                            <a href="#" class="btn item-btn">Mozzarella Pizza</a>
                            <a href="#" class="btn item-btn">Mascarpone</a>
                            <a href="#" class="btn item-btn">Provoletta & Scamorza</a>
                            <a href="#" class="btn item-btn">Ricotta</a>
                            <a href="#" class="btn item-btn">Ricotta десертная</a>
                        </div>
                    </div>
                </div>
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <div class="col-sm col-btn">
                            <a href="product/add" class="btn btn-warning col-btn"><span>+ </span>Добавить товар</a>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </div>
            @foreach (var title in uniqueProductNames)
            {
                <div class="page-products">
                    <h2 class="page-title">@title</h2>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        @foreach (var product in ProductsList.Where(p => p.Title == title))
                        {
                            <div class="col col-md-4 col-sm-4 product-col">
                                <div class="card card-product">
                                    <a class="card-product-link" href="#">
                                        <img src="/img/products/mozzarella_flow_1_125-600x600.png" class="card-img-top product-img" alt="products">
                                    </a>
                                    <div class="card-body card-body-product">
                                        <div class="col-md-6">
                                            <a href="#">
                                                <p class="product-title">@product.Title</p>
                                                <p class="product-subtitle">@product.Subtitle</p>
                                            </a>
                                        </div>
                                        <div class="col-md-6">
                                            <b><p class="product-weight">@product.Weight <span>г</span></p></b>
                                        </div>
                                    </div>
                                    <AuthorizeView>
                                        <Authorized>
                                            <div class="btn-product">
                                                <div class="col-md-12">
                                                    <a class="btn btn-warning">Добавить в корзину</a>
                                                </div>
                                            </div>
                                        </Authorized>
                                    </AuthorizeView>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <h2>Нет продуктов</h2>
        }
    </div>
</main>

@code{
    private List<Product> ProductsList { get; set; } = new();
    private List<string> ProductTitleList { get; set; } = new();
    private IEnumerable<string>? uniqueProductNames { get; set; }

    private async Task LoadProduct()
    {
        var products = await productService.GetAllProductsAsync();
        ProductsList?.Clear();
        if (products is null) return;
        foreach(var product in products)
        {
            ProductsList?.Add(product);
            ProductTitleList?.Add(product.Title);
        }
        uniqueProductNames = ProductTitleList?.Distinct();
    }

    protected override async Task OnInitializedAsync() => await LoadProduct();
}