@* @page "/product/add"
@rendermode InteractiveServer

<main class="main d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-content-center">
                <EditForm Model="@ProductDTO" OnValidSubmit="AddClicked">
                    <h2 class="text-center">Форма добавления продукта</h2>
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label class="form-label">Наименование</label>
                        <InputText @bind-Value="ProductDTO.Title" class="form-control"></InputText>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">E-mail адрес</label>
                        <InputText @bind-Value="ProductDTO.Subtitle" class="form-control"></InputText>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Пароль</label>
                        <InputText type="number" @bind-Value="ProductDTO.Description" class="form-control"></InputText>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Подтвердите пароль</label>
                        <InputNumber type="number" @bind-Value="ProductDTO.Weight" class="form-control"></InputNumber>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Пароль</label>
                        <InputText type="number" @bind-Value="ProductDTO.StorageCondition" class="form-control"></InputText>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Подтвердите пароль</label>
                        <InputNumber type="number" @bind-Value="ProductDTO.Cost" class="form-control"></InputNumber>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Подтвердите пароль</label>
                        <InputNumber type="number" @bind-Value="ProductDTO.Protein" class="form-control"></InputNumber>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Подтвердите пароль</label>
                        <InputNumber type="number" @bind-Value="ProductDTO.Fats" class="form-control"></InputNumber>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Подтвердите пароль</label>
                        <InputNumber type="number" @bind-Value="ProductDTO.NutritionalValue" class="form-control"></InputNumber>
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Подтвердите пароль</label>
                        <InputNumber type="number" @bind-Value="ProductDTO.EnergyValue" class="form-control"></InputNumber>
                    </div>
                    <div class="text-center form-group mt-3">
                        <button class="btn btn-light btn-submit" type="submit">Добавить</button>
                    </div>
                    <ValidationSummary />
                </EditForm>
            </div>
        </div>
    </div>
</main>
 *@